body {
  background-color: #e6ebe6;
}
li a.active {
  background-color: ;
  color:#595959;
  }
ul {
  list-style-type: none;
  font-size:3.7vw;
  font-family:bentham;
  text-align:center;
}
li {
  display: inline;
  padding: 0.86vw 0.99vw;
  }
h2 {
  font-family:delius unicase ;
  font-size: 2.47vw;
}
h3 {
  font-family: bentham;
  font-size: 2.47vw;
}
.container {
  position: relative;
  text-align: center;
  color: #595959;
  font-family:homemade apple;
}
 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:homemade apple;
  font-size:2.16vw;
}
p {
  font-family:bentham;
  font-size: 2.47vw;
}
img{
  border-radius: 18.5vw;
  }
